/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #6fc6d9;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; /* Add space below header */
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

section h3 {
    margin-top: 0;
    color: black;
}

/* Form Styles */
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select,
input[type="date"],
input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 12px 20px;
    background-color:#6fc6d9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Add space below the Upload MoU button */
}

button[type="submit"]:hover {
    background-color: #6fc6d9;
}

button[type="submit"]:active {
    transform: scale(0.98);
}

/* Links */
a {
    text-decoration: none;
    color: white;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #6fc6d9;
    border-radius: 4px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #6fc6d9;
}

button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.uploaded-mou-button {
    background-color: #6fc6d9;
}

.uploaded-mou-button:hover {
    background-color:#6fc6d9;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #6fc6d9;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    form {
        grid-template-columns: 1fr;
    }

    .button-container {
        justify-content: center;
    }
}
