<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mou Portal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'assets/bitlogo.png' %}" alt="Institution Logo">
        <h2>Mou Portal</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        </form>
        <div class="alt-signin">
            <p>Sign in with</p>
            <a href="#">
                <img src="{% static 'assets/google.png' %}" alt="Google Sign In" class="google-signin">
            </a>
        </div>

        {% if messages %}
            <div class="messages">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

</body>

</html>
